<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <% time = Time.new %>
    <h1>
      The date is 
      <%= 
      time.strftime("%A, %B %d, %Y")

      <!--time.wday + ", " + time.month + " " + time.day + ", " + time.year-->
      %>
    </h1>
  </body>
</html>